.DarkButton {
    background-color: rgb(60, 60, 60);
}

.DarkButton:hover {
    background-color: rgb(75, 75, 75);
}

.DarkButton.selected {
    background-color: rgb(87, 87, 87);
}

.splitter {
    width: 6px;
    background-color: rgb(136, 136, 136);
    cursor: split-resize-left-right;
}

.clickableButton {
    cursor: link;
}

.glowingTint {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.62);
}

.glowingTint:hover {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.8);
}

.glowingTint.active {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.activeSceneTab {
    border-top-width: 2px;
    border-top-color: rgb(255, 233, 25);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -2px;
    margin-bottom: 8px;
}
